/* #mainTable tbody
{
    min-height: 635px;
} */
#mainTable > :not(caption) > * > *
{
    font-size: 15px;
}
.pagination
{
    margin-top: 15px !important;
    justify-content: center !important;
}
.paginate_button > a
{
    height: 100%;
}
.product_name
{
    text-decoration: none !important;
    color: #292929;
    font-weight: 500;
}

tbody > tr > td {
    padding: 3px;
}
