/* #mainTable tbody
{
    min-height: 635px;
} */
html body {
    font-family: 'Lato', sans-serif;
}
#mainTable > :not(caption) > * > *
{
    font-size: 15px;
}
.pagination
{
    margin-top: 15px !important;
    justify-content: center !important;
}
.paginate_button > a
{
    height: 100%;
}
.product_name
{
    text-decoration: none !important;
    color: #404040;
    font-weight: 700;
}

tbody > tr > td {
    padding: 3px;
}

.dtr-data
{
    display: block;
}

.show-products
{
    min-width: 275px;
    font-size: 18px;
}

@media only screen and (max-width: 500px) {

}


.arrow-close
{
    color: black;
    font-size: 35px;
}

.arrow-close:hover {
    cursor: pointer;
}


.discount-title
{
    color: #363636 !important;
    text-decoration: none !important;
}

.date, .price
{
    text-align: center;
}

a {
    text-decoration: inherit !important;
}


.msg-alert
{
    max-width: 250px;
    position: absolute;
    top: 5%;
    right: 5%
}